.button  	        
{ 
  background-color: rgb(33,150,243);
  border : 1px solid lightblue;
  padding: 5px 10px 5px 10px;  
  width: 10%;   
  height : 5%;
  box-sizing: border-box;  
  font-family: PT sans;
  font-size: 13px; 
  font-weight: bold; 
  letter-spacing: 2px; 
  margin: 10px 0 0 0;  
  text-transform: uppercase;
  color: white; 
}


